/* ANIMATIONS */

/* slide the email, phone, location icons and text onto the page */
@keyframes slideIn {
	0% {
		opacity: 0;
		transform: translateX(-300px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

.email {
	animation: slideIn 1s ease-in-out;
}
.phoneNumber {
	animation: slideIn 1.5s ease-in-out;
}
.location {
	animation: slideIn 2s ease-in-out;
}

/* references:
https://www.youtube.com/watch?v=SgmNxE9lWcY 
*/
