/* ADJUSTMENTS FOR MOBILE USERS: */

@media screen and (max-width: 600px) {
	/* adjusts width of about me section */
	.projectsDiv {
		width: 80%;
	}
}

@media screen and (max-width: 600px) {
	/* reduce font size of nav text */
	.navLink {
		font-size: 12px;
	}
	/* reduced spacing between nav */
	.navItem {
		margin: 25px;
	}
}

/* reduce the size of project cards for mobile users */
@media screen and (max-width: 600px) {
	.card {
		width: 90% !important;
	}
}

/* reduce the size of project cards for smaller screen sizes */
@media screen and (max-width: 1000px) {
	.card {
		width: 90% !important;
	}
}

/* references: none */
