/* DARK MODE STYLES: */

body.dark-mode {
	background-color: #111;
	color: #f5f6f7;
}

/* used !important to overwrite styling set by Iconify */

.socialIcon.dark-mode a {
	color: #f5f6f7 !important;
}

.githubIcon.dark-mode:hover {
	color: #7e1dd8 !important;
}

.whatsappIcon.dark-mode:hover {
	color: #6ee25f !important;
}

.linkedinIcon.dark-mode:hover {
	color: #3ab0ff !important;
}

.avatar.dark-mode {
	border: 5px solid #555;
}

#dark-mode-label.dark-mode {
	color: #f5f6f7;
}

/* styling for the label next to the toggle switch */
#dark-mode-label {
	position: absolute;
	top: 15px;
	right: 65px;
	font-size: 14px;
	color: #222;
	font-weight: 800;
}

/* styling for the toggle switch */
#dark-mode-toggle {
	position: absolute;
	top: 15px;
	right: 15px;
	appearance: none;
	width: 40px;
	height: 20px;
	background: #222;
	border-radius: 20px;
	outline: 2px solid #222;
}

/* controls the color of the toggled switch */
#dark-mode-toggle:checked {
	background: #f5f6f7;
	outline: 2px solid #f5f6f7;
}

#dark-mode-toggle::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	background: #f5f6f7;
	border-radius: 50%;
	/* controls the time it takes to flip the toggle switch */
	transition: transform 0.3s ease;
}

#dark-mode-toggle:checked::before {
	/* by translating it 20 pixels along the X axis, it moves the toggle
  20 pixels to the right */
	transform: translateX(20px);
	background: #222;
}

/* references:
https://www.w3schools.com/howto/howto_js_toggle_dark_mode.asp
*/
